---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Summary'
    value: page.summary
  - label: 'Contents'
    value: page.contents
  - label: 'Keywords '
    value: page.keywords
  - label: 'Object Type'
    value: page.object_type
  - label: 'Shelfmark'
    value: page.shelfmark
  - label: 'Metadata Creators'
    value: page.metadata_creators
  - label: 'Repository City'
    value: page.repository_city
  - label: 'Roles'
    value: page.roles
  - label: 'Date'
    value: page._date
  - label: 'Place Origin'
    value: page.place_origin
  - label: 'Provenance Details'
    value: page.provenance_details
  - label: 'Language'
    value: page.language
  - label: 'Decoration'
    value: page.decoration
  - label: 'Layout'
    value: page.layout
  - label: 'Hand Script'
    value: page.hand_script
  - label: 'Dimensions'
    value: page.dimensions
  - label: 'Additional Info'
    value: page.additional_info
  - label: 'Notes Digitizer'
    value: page.notes_digitizer
  - label: 'Copyright Statement'
    value: page.copyright_statement
  - label: 'Terms of Use'
    value: page.terms_use
  - label: 'Images'
    value: page.images
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
